<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Management</title>
</head>

<body>
    <div>
        <h2>Update Item</h2>
        <form action="/updateitem" method="POST">
            <label for="item_id">Item ID:</label>
            <input type="number" id="item_id" name="item_id" required><br><br>
            <label for="update_name">New Name:</label>
            <input type="text" id="update_name" name="name"><br><br>
            <label for="update_quantity">New Quantity:</label>
            <input type="number" id="update_quantity" name="quantity"><br><br>
            <button type="submit">Update Item</button>
            {% if message %}
            <div>{{ message }}</div>
            {% endif %}
        </form>
    </div>
</body>